<p>Course: <%= swim_race.name %></p>
<p>Ville: <%= swim_race.city_name %></p>
<p>Date: <%= swim_race.dates %></p>
<p>Plus d'infos: <%= swim_race.source_url %></p>
<p>Epreuves:</p>
<ul>
<% events = swim_race.swim_events %>
  <% events.each do |event| %>

    <li><%= event.distance %> km</li>
  <% end %>
</ul>
