
<div class="banner half" style="background-image: linear-gradient(rgba(4,6,1,0.4), rgba(6,102,248,0.5)), url(https://res.cloudinary.com/dzxrdf9za/image/upload/v1553374879/eau%20libre/vlcsnap-2018-01-27-11h36m41s032.png);">
</div>
<br>
<div class="container back">
  <br>
  <h2 class="text-center">Rechercher une course:</h2>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <div class="race-container">
            <%= simple_form_for :search, url: swim_races_path, method: "GET", input_html: { class: "form-inline search-form" } do |f| %>
             <%= f.input :city_name, input_html: {value: "", id: "swim_race_city_name"}, placeholder: "Chercher une ville", label: false %>
              <%= f.submit "Search", class: "btn btn-primary inline-absolute" %>
            <% end %>
            <div class="row">
              <% @swim_races.each do |swim_race| %>
                <div class="col-xs-12 col-md-12">
                  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path swim_race.photo %>);">
                    <div class="card-date"><%= swim_race.dates %></div>
                    <div class="card-name">
                      <h2><%= swim_race.name %></h2>
                      <p><%= swim_race.city_name %></p>
                    </div>
                    <% events = swim_race.swim_events %>
                      <div class="card-events">
                        <ul class="list-inline">
                        <% events.each do |event| %>
                          <li class="list-inline-item"><%= event.distance %> km</li>
                        <% end %>
                        </ul>
                      </div>
                    <%= link_to("", swim_race_path(swim_race.id), class:"card-link")  %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <div class="col-xs-12 col-md-6">
        <div class="map-container">
          <div
            id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
      </div>
    </div>

</div>

