<div class="container">
  <div>
    <h2 class="text-center">Mes courses:</h2>
      <% @swim_races.each do |swim_race| %>
        <div class="my-race">
          <div class="race-events">
          <h3><strong>Nom de la course: </strong><%= swim_race.name %></h3>
          <p><strong>Ville: </strong><%= swim_race.city_name %></p>
          <p><strong>Date de la course: </strong> <%= swim_race.dates %></p>
          <p><strong>Description:</strong></p>
          <p><%= swim_race.description %></p>
          <p><strong>Site internet de l'organisateur:</strong></p>
          <p><%= link_to(swim_race.source_url, swim_race.source_url) %></p>
          <div class="race-data">
            <%= cl_image_tag(swim_race.photo, :class => "img_my_race") %>
          </div>
          <%= link_to raw('<i class="fas fa-edit"></i>Modifier cette course'), edit_swim_race_path(swim_race) %>
          <%= link_to raw('<i class="far fa-trash-alt"></i> Supprimer cette course'), swim_race_path(swim_race),
              method: :delete,
              data: { confirm: "Are you sure?" } %>

        </div>
          <div class="race-events">
            <h4>Epreuves:</h4>
            <% events = swim_race.swim_events %>
            <table>
                <thead>
                    <tr>
                        <th>Distance</th>
                        <th>Prix</th>
                        <th>Informations</th>

                    </tr>
                </thead>
              <tbody>
                <% events.each do |event| %>
                  <tr>
                    <td><%= event.distance %> km</td>
                    <td><%= event.price %> euros</td>
                    <td><%= event.comment %></td>
                    <td><%= link_to raw('<i class="far fa-trash-alt"></i> Supprimer'), swim_race_swim_event_path(swim_race, event),
                            method: :delete,
                            data: { confirm: "Are you sure?" } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <%= link_to raw('<i class="fas fa-plus-circle"></i> Ajouter des épreuves'),  new_swim_race_swim_event_path(swim_race) %>
            <%= link_to raw('<i class="fas fa-edit"></i> Modifier des épreuves'), edit_swim_race_swim_event_path(swim_race, events) %>
          </div>
        </div>
      <% end %>
  </div>
</div>
