<div class="container">
  <p><%= @swim_race.name %></p>
  <%= cl_image_tag @swim_race.photo, height: 300, width: 400, crop: :fill %>
  <div
    id="map"
    style="width: 40%;
    height: 300px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div>
  <p>Ville: <%= @swim_race.city_name %></p>
  <p>Date de la course: <%= @swim_race.dates %></p>
  <p>Description: <%= @swim_race.description %></p>
  <p><%= @swim_race.longitude %></p>
  <p><%= @swim_race.latitude %></p>
  <p>Site internet de l'organisateur: <%= link_to(@swim_race.source_url, @swim_race.source_url) %> </p>

  <button class="btn btn-secondary"><%= link_to "Modifier cette course", edit_swim_race_path(@swim_race) %>
  </button>
  <button class="btn btn-warning"><%= link_to "Supprimer cette course", swim_race_path(@swim_race),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  </button>

  <p>Epreuves:</p>
  <% events = @swim_race.swim_events %>
    <ul class="list-inline">
      <% events.each do |event| %>
        <li class="list-inline-item"><%= event.distance %> km</li>
      <% end %>
    </ul>

    <button class="btn btn-secondary"><%= link_to "Ajouter des courses",  new_swim_race_swim_event_path(@swim_race) %>
    </button>
    <button class="btn btn-warning"><%= link_to "Modifier supprimer des courses", edit_swim_race_swim_event_path(@swim_race) %>
    </button>

</div>
