<div class="row scroll-overflow">
  <% @swim_races.each do |swim_race| %>
    <div class="col-xs-12 col-md-12">
      <div class="card">
        <% if swim_race.photo.file.nil? %>
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://res.cloudinary.com/dzxrdf9za/image/upload/v1553771363/placeholder.jpg');">
          </div>
        <% else %>
          <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path swim_race.photo %>);">
          </div>
        <% end %>
        <div class="card-infos">
          <div class="card-details">
            <div class="card-date"><%= swim_race.dates %>
            </div>
            <div class="card-name">
              <h2><%= swim_race.name %>  </h2>
              <p><i class="fas fa-map-marker-alt"></i> <%= swim_race.city_name %></p>
            </div>
            <div class="card-events">
              <ul class="list-inline">
                <% swim_race.swim_events.each do |event| %>
                  <li class="list-inline-item"><%= event.distance %> km</li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= link_to("", swim_race_path(swim_race.id), class:"card-link")  %>
      </div>
    </div>
  <% end %>
</div>
