<div class="form-banner" style="background-image: linear-gradient(to top, #043c8f, #1749a3, #2656b7, #3263cc, #3e71e1);">
  <div class="sign-form col-xs-9 col-md-4">
    <h2>Se connecter</h2>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password,
                    label: "Mot de passe",
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me,
                    label: "Se souvenir de ",
                      as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Se connecter", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
